* {
  box-sizing: border-box;
}
body {
  margin-left: 15%;
  padding: 0;
}

.hidden-el {
  line-height: 1.5;
  border: solid 2px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  /* transform: scale(0.1); */
  max-width: 500px;
  max-height: 500px;
  overflow-y: scroll;
  color: black;
  background-color: aliceblue;
  box-shadow: 1px 5px 60px 1px rgb(0, 0, 0);
}

button {
  cursor: pointer;

}
.active {
  opacity: 1;
  transform: translateY(90px);
  transition-duration: 200ms;

}

.inactive {
  opacity: 0;
  transform: translateY(-10px);
  transition-duration: 200ms;
}
